* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: rgb(130, 130, 130);
  --clock-background: black;
  --digit-color: white;
  --clock-width: 500px;
  --clock-height: calc(var(--clock-width) * .3);
}

body {
  background-color: var(--background);
}

.container {
  background-color: var(--clock-background);
  position: absolute;
  width: var(--clock-width);
  height: var(--clock-height);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hours {
  display: flex;
  height: var(--clock-height);
  width: calc(var(--clock-width) / 3);
  color: var(--digit-color);
  font-size: calc(var(--clock-height) * 1);
  justify-content: center;
  align-items: center;
  transform: translateX(2%);
}

#minutes {
  display: flex;
  height: var(--clock-height);
  width: calc(var(--clock-width) / 3);
  color: var(--digit-color);
  font-size: calc(var(--clock-height) * 1);
  justify-content: center;
  align-items: center;
  transform: translateX(2%);
}

#seconds {
  display: flex;
  height: var(--clock-height);
  width: calc(var(--clock-width) / 3);
  color: var(--digit-color);
  font-size: var(--clock-height);
  justify-content: center;
  align-items: center;
  transform: translateX(2%);
}

