* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: rgb(130, 130, 130);
  --clock-background: black;
  --digit-color: white;
  --clock-width: 500px;
  --clock-height: calc(var(--clock-width) * .4);
}

body {
  background-color: var(--background);
}

.container {
  background-color: var(--clock-background);
  position: absolute;
  width: var(--clock-width);
  height: var(--clock-height);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.container .hours {
  height: var(--clock-height);
  width: calc(var(--clock-width) / 4);
  border: 1px solid white;
}